[supervisord]
nodaemon=true
logfile=/var/log/supervisor/supervisord.log
pidfile=/var/run/supervisord.pid

[program:nginx]
command=nginx -g "daemon off;"
autostart=true
autorestart=true
priority=10

[program:backend]
command=node /app/backend/index.js
directory=/app/backend
autostart=true
autorestart=true
environment=AWS_ACCESS_KEY_ID="%(ENV_AWS_ACCESS_KEY_ID)s",AWS_SECRET_ACCESS_KEY="%(ENV_AWS_SECRET_ACCESS_KEY)s",AWS_REGION="%(ENV_AWS_REGION)s",S3_BUCKET_NAME="%(ENV_S3_BUCKET_NAME)s",S3_FILE_KEY="%(ENV_S3_FILE_KEY)s",PORT="5000"
priority=20

[program:ml]
command=python /app/ml/ml_model_api.py
directory=/app/ml
autostart=true
autorestart=true
environment=PYTHONUNBUFFERED="1"
priority=30